@using FitnessTracker.Components.Layout

<Router AppAssembly="typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not Found</PageTitle>
        <LayoutView Layout="typeof(MainLayout)">
            <div class="not-found">
                <h1>404</h1>
                <p>This page does not exist.</p>

            </div>
        </LayoutView>
    </NotFound>
</Router>
