@* This component handles Blazor Server reconnection UI *@
<div id="components-reconnect-modal">
    <div class="reconnect-content">
        <p>Attempting to reconnect to the server...</p>
    </div>
</div>
